.main-container {
    margin: 20px 0px;
}

.card-infected, .card-recovered, .card-deaths{
    text-align: center;
    box-shadow: 0px 0px 10px 5px gray;
    width: 30%;
    padding: 0px 10px;
    margin: auto 10px;
    display: inline-block;
    transition: 0.3s;
}

.card-infected {
    box-shadow: 0px 0px 10px 5px blue;
}

.card-recovered {
    box-shadow: 0px 0px 10px 5px green;
}

.card-deaths {
    box-shadow: 0px 0px 10px 5px red;
}

h3 {
    font-family: fantasy;
}

.date {
    font-family: cursive;
    font-size: 20px;
}